---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/BaseLayout.astro'
import { username } from '../constants'

import ContactCTA from '../components/ContactCTA.astro'
import PortfolioPreview from '../components/PortfolioPreview.astro'
import Hero from '../components/Hero.astro'
import Grid from '../components/Grid.astro'

const projects = (await getCollection('work'))
  .filter(project => project.data.sectionTitle)
---

<BaseLayout
  description=`Learn about ${username} most recent projects`
  title=`My Work | ${username}`
>
  <div class='stack gap-20'>
    <main class='wrapper stack gap-8'>
      <Hero
        title='My Work'
        tagline='See my projects below to get an idea of my past experience.'
        align='start'
      />

      <Grid variant='offset'>
        {
          projects.map(project => (
            <li>
              <PortfolioPreview project={project} sectionTitle={project.data.sectionTitle}/>
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
